@import '../styles/mixins';

// dropdown(react-contexify) style overriding
.contexify {
  font-weight: bold;
  border: 1px solid #36cc7c;
  --contexify-zIndex: 666;
  --contexify-menu-minWidth: 200px;
  --contexify-menu-padding: 6px;
  --contexify-menu-radius: 20px;
  --contexify-menu-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1);

  --contexify-separator-color: #36cc7c;
  --contexify-separator-margin: 5px;
  --contexify-itemContent-padding: 10px 10px 10px 20px;
  --contexify-activeItem-radius: 13px;
  --contexify-item-color: #333;
  --contexify-activeItem-color: #000;
  --contexify-activeItem-bgColor: #d7f5e5;
}

// 스크롤 다운 이벤트 감지 시 높이 변화 줄 예정

.nav-item-line {
  height: 24px;
  width: 1.5px;
  background: $gray_secondary;
}

@include mobile {
  .temp-navbar {
    width: auto;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-items {
    font-family: $NanumSquareBold;
    color: $gray_secondary;
    font-size: 20px;
    text-decoration: none;
  }
  .nav-items:hover {
    color: $gray_primary;
  }
  .nav-items:focus {
    font-family: $NanumSquareExtraBold;
    color: $black;
  }
  /* 선택된 상태의 컬러를 유지하기 위해선 tsx 파일 쪽에서 클래스를 추가하는 등의 행위가 필요함 */
}

@include tablet {
  .temp-navbar {
    width: auto;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-items {
    font-family: $NanumSquareBold;
    color: $gray_secondary;
    font-size: 20px;
    text-decoration: none;
  }
  .nav-items:hover {
    color: $gray_primary;
  }
  .nav-items:focus {
    font-family: $NanumSquareExtraBold;
    color: $black;
  }
  /* 선택된 상태의 컬러를 유지하기 위해선 tsx 파일 쪽에서 클래스를 추가하는 등의 행위가 필요함 */
}

@include desktop {
  .navbar {
    position: relative;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar-content {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 144px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .nav-items {
    font-family: $NanumSquareBold;
    color: $gray_secondary;
    font-size: 20px;
    text-decoration: none;
  }
  .nav-items:hover {
    color: $gray_primary;
  }
  .nav-items:focus {
    font-family: $NanumSquareExtraBold;
    color: $black;
  }
  .nav-dropdown-btn {
    position: absolute;
    bottom: 67px;
    right: 145px;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: auto;
    cursor: pointer;
  }
  .user-icon {
    width: 67px;
  }
  /* 선택된 상태의 컬러를 유지하기 위해선 tsx 파일 쪽에서 클래스를 추가하는 등의 행위가 필요함 */
}
