@import './variables';

// 미디어쿼리 브레이크포인트
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// input placeholder color
// placeholder
@mixin input-placeholder-color {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $gray-fourth;
    &:focus {
      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $gray-secondary;
      }
    }
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $gray-fourth;
    opacity: 1;
    &:focus {
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $gray-secondary;
        opacity: 1;
      }
    }
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $gray-fourth;
    opacity: 1;
    &:focus {
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $gray-secondary;
        opacity: 1;
      }
    }
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-fourth;
    &:focus {
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-secondary;
      }
    }
  }
}
